@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 212 100% 97%;
    --foreground: 222 46% 11%;
    --card: 212 100% 97%;
    --card-foreground: 222 46% 11%;
    --popover: 212 100% 97%;
    --popover-foreground: 222 46% 11%;
    --primary: 224 76% 48%;
    --primary-foreground: 212 100% 97%;
    --secondary: 217 91% 60%;
    --secondary-foreground: 222 46% 11%;
    --muted: 212 100% 20%;
    --muted-foreground: 222 46% 70%;
    --accent: 226 57% 21%;
    --accent-foreground: 212 100% 97%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 222 46% 11%;
    --border: 212 100% 20%;
    --input: 212 100% 20%;
    --ring: 226 57% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 212 100% 3%;
    --foreground: 222 46% 89%;
    --card: 212 100% 3%;
    --card-foreground: 222 46% 89%;
    --popover: 212 100% 3%;
    --popover-foreground: 222 46% 89%;
    --primary: 224 76% 52%;
    --primary-foreground: 212 100% 3%;
    --secondary: 217 91% 40%;
    --secondary-foreground: 222 46% 89%;
    --muted: 212 100% 80%;
    --muted-foreground: 222 46% 89%;
    --accent: 226 57% 79%;
    --accent-foreground: 212 100% 3%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 222 45% 10%;
    --border: 212 100% 60%;
    --input: 212 100% 80%;
    --ring: 226 57% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html,
body,
:root {
  height: 100%;
}

.custom-h1 {
  @apply text-6xl font-bold tracking-[-2px] xl:text-[72px] xl:leading-[80px];
}

.custom-h2 {
  @apply text-4xl font-bold;
}

.custom-h3 {
  @apply text-3xl font-bold;
}

.custom-h4 {
  @apply text-[22px] font-semibold;
}

.custom-subtitle {
  @apply mb-8 text-lg font-light opacity-50;
}

.custom-badge {
  @apply z-10 flex h-[68px] w-[200px] items-center gap-x-4 rounded-xl bg-white p-4 shadow-2xl dark:backdrop-blur-[44px];
}

.custom-section-title {
  @apply relative flex w-max items-center justify-between gap-x-3 text-4xl font-bold before:h-[24px] before:w-[24px] before:bg-dot-light before:bg-center before:bg-no-repeat before:dark:bg-dot-dark;
}

/* swiper bullet styles */
.swiper-horizontal > .section-pagination-bullets.swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  @apply bg-primary;
}
